<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Dialysis Management System</h1>
    <h2>Login Page</h2>
	
	<form method="POST">
		<label>Enter Your Username:</form>
		<input type="text" name="username">
        <br><br>
		<label>Enter Your Password:</label>
		<input type="text" name="password">
        <br><br>
        <button type="submit">Login</button>
    </form>

	
    
</body>
</html>